@model NotFoundViewModel

@{
    ViewData["Title"] = "Not Found";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">@Model.Message</h2>
<h2 class="text-danger">Item with @Model.EntityId not found</h2>
